{% extends 'base.html.twig' %}

{% block title %}Profile!{% endblock %}

{% block body %}
  <div class="row"> 

    <div class="col settings-wrapper"> 
      <div class="settings-wrapper__title"> 
        Hi, {{ app.user.name }}!      
      </div>
       {% include('/profile/partial/navigation-tabs.html.twig') %}
      <div class="settings-wrapper__main-content">
        456
      </div>
    </div>
  
  </div>
{% endblock %}
