{% extends 'base.html.twig' %}

{% block title %}Profile!{% endblock %}

{% block body %}
  <div class="row"> 
    <div class="col settings-wrapper"> 
      <div class="settings-wrapper__title"> 
        Hi, {{ app.user.name }}!      
      </div>
       {% include('/profile/partial/navigation-tabs.html.twig') %}
      <div class="settings-wrapper__main-content">
        
        <div class="row"> 
          <div class="col settings-wrapper__main-content-subtitle"> 
              Connections
          </div>
          <div class="col settings-wrapper__main-content_new-connection">
            <a class="btn btn-default" href="#">New connection</button>
          </div>
        </div>

      </div>
    </div>
  
  </div>
{% endblock %}
