{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}


      {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

  <section class="vh-100" id="login-section">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>
            <form class="form-signin" action="{{ path('app_login') }}" method="POST">
                <div class="form-outline mb-4">
                  <input type="email" id="email" name="_username" value="{{ last_username }}" class="form-control form-control-lg" />
                  <label class="form-label" for="email">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="password" name="_password" class="form-control form-control-lg" />
                  <label class="form-label" for="password">Password</label>
                </div>

                <div class="form-outline mb-4">
                 <label>
                      <input type="checkbox" name="_remember_me" checked>
                      Keep me logged in
                  </label>
                </div>


                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </form>
            <hr class="my-4">

            <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-lg btn-block btn-primary google-login">
              <i class="bi bi-google"></i> Sign in with google
            </a>
        </div>
      </div>
    </div>
  </div>
</section>







{% endblock %}
