$settings-title-font-size: 40px;
$settings-title-font-weight: 700;
$settings-background: radial-gradient(100% 100% at 50% 0%,#fbb115 0%,#e87447 100%);
$settings-main-gradient-color: -webkit-linear-gradient(left,#5458cd,#734acb);
$settings-main-font: SFProText,Arial,sans-serif;
$settings-main-btn-color-hover: #4d429a;

$settings-music-block-radius: 27.15px;