{% extends 'profile/partial/profile-base.html.twig' %}

{% block main_content %}
    <div class="row"> 
        <div class="col"> 
            <h4> My transfers </h4>
        </div>
    </div>
{% endblock %}