 <div class="settings-wrapper__navigation-tabs">
 
    <ul class="list-group list-group-horizontal settings-wrapper__navigation-tabs-items">
      <li class="list-group-item"> 
        <a href="{{ path('app_profile') }}"> Account settings </a>
      </li>
      <li class="list-group-item"> 
        <a href="{{ path('app_import')}}"> My imports </a>
      </li>
    </ul>
 </div>