<div class="modal fade new-transfer-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="row mx-5">
        <div class="col">
          <a class="connection-item btn" href="{{ path('app_fetch_playlists') }}">
            <i class="bi bi-spotify"></i> <br>
            <span class="pull-right">Spotify</span>
          </a>
        </div>
        <div class="col">
          <a class="connection-item btn" href="{{ path('hwi_oauth_service_redirect', {'service': 'youtube' }) }}">
            <i class="bi bi-youtube"></i> <br>
            <span> YouTube Music</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>